h1{
    color:rgb(238, 45, 222);
}
*{
    border:none;
}

.header
{
    background-color: rgb(230, 159, 208);
    display:flex;
    justify-content:space-between;
    font-size:large;
}

.grid
{
    background-color: #8d0076;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.footer
{
    background-color: #c80064;
    display:flex;
    justify-content:flex-start;
}

body
{
    background-color: #7723d6;
}